<br/>
<div class="container">
   <div class="row">
    <div class="col-md-12">
      <vmk-instructions></vmk-instructions>
   </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12">
      <vmk-inventory-monitor></vmk-inventory-monitor>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12">  
      <vmk-bank-monitor></vmk-bank-monitor>
    </div>
  </div>  
  <hr>
  <div class="row">
    <div class="col-md-12">
      <vmk-coin-slot></vmk-coin-slot>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <vmk-message-display></vmk-message-display>
      <vmk-return-coins></vmk-return-coins>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <vmk-products-for-sale></vmk-products-for-sale>
    </div>
  </div>
  <hr>  
  <div class="row">
    <div class="col-md-6">
      <vmk-dispensed-product></vmk-dispensed-product>
    </div>
    <div class="col-md-6">
      <vmk-coin-return-area></vmk-coin-return-area>
    </div>
  </div>
</div>